<html>
<head>
    <title>Home</title>
</head>
<body>
    <input type="button" value="PopDaily Japan" onclick="window.open('{{ btn_japan }}', '_blank')"/><br><br>
    <input type="button" value="PopDaily Travel" onclick="window.open('{{ btn_travel }}', '_blank')"/><br><br>
    <input type="button" value="PopDaily Food" onclick="window.open('{{ btn_food }}', '_blank')"/><br><br>
    <input type="button" value="PopDaily Life" onclick="window.open('{{ btn_life }}', '_blank')"/><br><br>
    <input type="button" value="PopDaily Press" onclick="window.open('{{ btn_press }}', '_blank')"/><br><br>
</body>
</html>