<html>
<head>
    <title>PopDaily {{article_type}}</title>
</head>
<body>
    <script language="JavaScript">
        var info = "{{ info }}".replaceAll("&#39;", '').replaceAll("{", '').replaceAll("}", '<br>----------------------------------------------').replaceAll("[", '').replaceAll("]", '').split(',');
        // var title = "{{ title }}"
        // var post_date = "{{ post_date }}"
        // var tag = "{{ tag }}"
        // var url = "{{ url }}"
        
        info.forEach(function (item, index) {
            document.write(item + "<br>")
        })

        // title.forEach(function (item, index) {
        //     document.write("<h2>" + item + "</h2><br>")
        // });
        // links.forEach(function (item, index) {
        //     document.write("<a href=" + item + " target='_blank'>" + item + "</a>")
        // });
        // post_date.forEach(function (item, index) {
        //     document.write(item)
        // });
        // tag.forEach(function (item, index) {
        //     document.write(item, "<br>")
        // });

    </script>
</body>
</html>
